version: '3.5'

services:
  twitchdb:
    image: mongo
    ports:
      - "27019:27017"
    networks:
      - proxynet
  twitchweb:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8002:8000"
    depends_on:
      - twitchdb
    networks:
      - proxynet

networks:
  proxynet:
    name: GamesBI-network
